@font-face {
    font-family: Gopher;
    src: url(Gopher-Regular.ttf);
}
*{
    font-family: Gopher;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
header {
    background-color: #652b7c;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    font-size: 4.5vh;
    text-decoration: none;
    color: #fff;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 5%;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: #fff;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 10vh;
        right: 0;
        background-color: #652b7c;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}
nav img {
    height: 12.5vh;
    aspect-ratio: 17/4;
    float: left;
}
h1{
    font-size: 6vh;
    text-align: center;
}
.heading h2{
    font-size: 6vh;
    text-align: center;
}
.heading{
    width: 100%;
}
.slideshow{
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(500px * 24);
    animation: scroll2 15s linear infinite;
}
.slide-track:hover {
    animation-play-state: paused;
}
.slide-track-2{
    display: flex;
    width: calc(500px * 24);
    animation: scroll1 15s linear infinite;
}
.slide-track-2:hover{
    animation-play-state: paused;
}
@keyframes scroll1 {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(calc(-500px * 12));
    }
}
@keyframes scroll2 {
    0% {
    transform: translateX(calc(-500px*12));
    }
    100% {
    transform: translateX(0);
    }
}
.slide{
    height: 250px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide img{
    width: 100%;
    aspect-ratio: 2/1;
    transition: transform 1s;
}
.slide img:hover{
    transform: translateZ(5px);
}
.slideshow::before,
.slideshow::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slideshow::before {
    Left: 0;
    top: 0;
}
.slideshow::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.search-tab{
    width: 95%;
    display: flex;
    margin-left: 2.5%;     
    height: 10vh;
    place-items: center;
}
.form-child{
    width: 25%;
    aspect-ratio: 6/1;
    margin-left: 2.5%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.form-child input{
    width: 70%;
    background-color: black;
    color: white;
}
.form-child label{
    font-size: 2.5vh;
}
select{
    width: 70%;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 2.5vh;
}
select option{
    background-color: black;
    color: white;
    font-size: 2.5vh;
}
.submit{
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 2.5%;
    font-size: 2.5vh;
}
.about-cic{
    width: 100%;
    height: max-content;
    background-color: #652b7c;
    margin-top: 2.5%;
}
.about-cic h2{
    font-size: 5vh;
    text-align: center;
    color: white;
    margin-top: 0;
    padding-top: 1%;
}
.about-cic p{
    color: white;
    font-size: 2.5vh;
    padding: 5%;
    margin-top: 0;
    margin-bottom: 0;
}
.show-rec{
    width: 90%;
    margin-left: 5%;
    display: grid;
    gap: 20px 2vw;
    grid-template-columns: auto auto auto auto;
}
.placard{
    height: 400px;
    width: 20vw;
    margin-top: 2.5%;
    border-radius: 20px;
    background-color: #CDE5F3;
    border: 0.5vw solid #26a2ef;
}
.Name-holder{
    width: 90%;
    height: max-content;
    margin-left: 5%;
    margin-top: 2.5%;
    border-radius: 20px;
    background-color: #101011;
}
.name{
    text-align: center;
    font-size: 4.5vh;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #97989F;
}
.occup{
    margin-top: 0px;
    text-align: center;
    font-size: 3vh;
    color: #08A6FF;
}
.det{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2.5%;
}
.det-b{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2.5%;
    font-weight: bolder;
}

@media screen and (max-width: 800px){
    .navbar{
        height: 50px;
    }
    .navbar img {
        height: 50px;
    }
    .nav-list .nav-item a{
        display: block;
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 15px 30px;
        text-decoration: none;
    }
    .slideshow{
        height: 200px;
    }
    .slide-track{
        display: flex;
        width: calc(300px * 24);
        animation: scroll2 10s linear infinite;
    }
    .slide-track-2{
        display: flex;
        width: calc(300px * 24);
        animation: scroll1 10s linear infinite;
    }
    @keyframes scroll1 {
        0% {
        transform: translateX(0);
        }
        100% {
        transform: translateX(calc(-300px * 12));
        }
    }
    @keyframes scroll2 {
        0% {
        transform: translateX(calc(-300px*12));
        }
        100% {
        transform: translateX(0);
        }
    }
    .slide{
        height: 150px;
        width: 300px;
        display: flex;
        align-items: center;
        padding: 15px;
        perspective: 100px;
    }
}
@media screen and (max-width: 1400px){
    .show-rec{
        gap: 20px 2.5vw;
    }
    .placard{
        width: 27vw;
        border: 0.5vw solid #26a2ef;
    }
    .show-rec{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 1000px){
    .show-rec{
        gap: 20px 2vw;
    }
    .placard{
        width: 41vw;
        border: 0.5vw solid #26a2ef;
    }
    .show-rec{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 650px){
    .search-tab{
        height: 20vh;
        display: grid;
        gap:20px 20px;
        grid-template-columns: auto auto;
    }
    .form-child{
        width: calc(40vw);
        margin-left: calc(3.34vw);
    }
    .placard{
        width: 70vw;
        height: fit-content;
        border: 1.5vw solid #26a2ef;
    }
    .show-rec{
        margin-left: 14%;
        grid-template-columns: auto;
    }
}
/*---------------------- OTP Auth and Login ------------------------------------------*/
.login-det-holder{
    text-align: center;
    margin: auto;
    width: 40%;
}
@media screen and (max-width: 750px){
    .login-det-holder{
        width: 80%;
    }
}
.login-child{
    margin: auto;
    width: 80%;
    padding: 2vh;
    margin-top: 1.5vh;
    text-align: center;
}
.login-child input{
    margin: auto;
    background-color: black;
    color: white;
    width: 80%;
    height: 4vh;
}
.login-child select{
    width: 80%;
    height: 4vh;
}
.Otp_auth {
    width: 30%;
    height: 4vh;
    background-color: #652b7c;
    color: white;
    margin: 2vh;
    border-radius: 10px;
    font-size: 2.5vh;
}
.Otp_auth:hover{
    background-color: white;
    color: #652b7c;
    border: 2px solid #652b7c;
}
/*----------------------------- Modify data---------------------------------------------*/
.modif-data{
    text-align: center;
    margin: auto;
    width: 40%;
}
.modif-form-child{
    margin: auto;
    width: 80%;
    padding: 1vh;
    margin-top: 1.5vh;
    text-align: center;
}
.modif-form-child input{
    margin: auto;
    background-color: black;
    color: white;
    width: 80%;
    height: 4vh;
}
.label-form{
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: left;
    margin-left: 9%;
}
.update{
    width: 30%;
    height: 4vh;
    background-color: #652b7c;
    color: white;
    margin: 2vh;
    border-radius: 10px;
    font-size: 2.5vh;
}
.update:hover{
    background-color: white;
    color: #652b7c;
    border: 2px solid #652b7c;
}
@media screen and (max-width: 750px) {
    .modif-data{
        width: 80%;
    }
}
/*----------------------------Error Page -----------------------*/
.error-holder{
    margin: auto;
    width: 70%;
    height: 70vh;
    text-align: center;
}
.error-button{
    background-color: #652b7c;
    color: white;
}
/*------------------------------- Footer--------------------------*/
.footer{
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 0 5vw;
    grid-template-columns: auto auto;
    background-color: #652b7c;
}
.footer-holder{
    width: 35vw;
    height: max-content;
    margin-left: 10%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.footer-holder h2{
    font-size: 4vh;
    margin-top: 0;
    color: white;
    text-align: center;
}
.footer-holder p{
    font-size: 3vh;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-align: center;
    white-space: pre-wrap;
}
.footer-holder h3{
    color: white;
    text-align: center;
}
.footer-holder a{
    text-decoration: none;
    color: white;
}
.right{
    text-align: right;
}
@media screen and (max-width:600px) {
    .footer{
        display: grid;
        grid-template-columns: auto;
    }
    .footer-holder{
        width: 80vw;
    }
}