<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>CIC CommUnity - Alumni Page</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='logo.ico')}}" type="image/x-icon">
</head>
<body onload="DataModified()">
    <script>
        function DataModified(){
                if("{{ update_confirmed }}" == "True"){
                    alert('Your data has been saved succesfully!');
                    }
                }
    </script>
    <header>
        <nav>
            <div class="logo"><img src="{{url_for('static', filename='ciclogo.jpeg')}}" alt="CIC Logo"></div>
            <ul class="nav-links">
                <li><a href="/SignIn">Sign In</a></li>
                <li><a href="https://cic.du.ac.in/">CIC Home</a></li>
            </ul>
            <div class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </header>
    <div class="heading">
        <h1>Connect With Your Alumni</h1>
    </div>
    <div class="slideshow">
        <div class="slide-track">
            <div class="slide"><img src="{{url_for('static', filename='lr1.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr2.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr3.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr4.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr5.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr6.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr7.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr8.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr9.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr10.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr11.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr12.jpg')}}" alt="Sample"></div>

            <div class="slide"><img src="{{url_for('static', filename='lr1.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr2.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr3.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr4.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr5.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr6.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr7.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr8.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr9.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr10.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr11.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='lr12.jpg')}}" alt="Sample"></div>
        </div>
    </div>
    <div class="slideshow">
        <div class="slide-track-2">
            <div class="slide"><img src="{{url_for('static', filename='rl1.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl2.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl3.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl4.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl5.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl6.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl7.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl8.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl9.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl10.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl11.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl12.jpg')}}" alt="Sample"></div>

            <div class="slide"><img src="{{url_for('static', filename='rl1.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl2.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl3.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl4.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl5.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl6.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl7.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl8.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl9.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl10.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl11.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='rl12.jpg')}}" alt="Sample"></div>
        </div>
    </div>
    <div class="heading">
        <h2>Search Your Alumni</h2>
    </div>
    <form action="/SearchAlumni", method="POST">
        <div class="search-tab">
            <div class="form-child">
                <label for="name">Name</label> &nbsp; &nbsp;
                <input type="text" id="name" name="Alname">
            </div>
            <div class="form-child">
                <label for="course">Course </label> &nbsp; &nbsp;
                <select name="course" id="course" required>
                    <option value="none" selected disabled hidden>Select</option>
                    <option value="BTECH">B.Tech IT & MI</option>
                    <option value="BA">BA Honours</option>
                    <option value="MME">Masters in Mathematics</option>
                </select>
            </div>
            <div class="form-child">
                <label for="year">Batch Year </label>&nbsp;
                <select name="year" id="year" required>
                    <option value="none" selected disabled hidden>Select</option>
                    {% for opt in slct_yr %}
                    <option value="{{ opt }}">{{ opt }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="submit" type="submit">SEARCH</button>
        </form>
        </div>
    <div class="show-rec">
        {% if rec|length==0  %}
        <p>Find your Almuni Now...</p>
        {% else %}
    
        {% for inp in rec %}
        <div class="placard">
            <div class="Name-holder">
                <p class="name">{{ inp['NAME'] }}</p>
                <p class="occup">{{ inp['JOB'] }}</p>
            </div>
            <div class="details">
                <p class="det-b">Organisation/Company <i class="fa fa-industry" aria-hidden="true"></i></p>
                <p class="det">{{inp['ORGANISATION']}}</p>
                <p class="det-b">Location <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                <p class="det">{{ inp['LOCATION'] }}</p>
                <p class="det-b">E-mail ID <i class="fa fa-envelope" aria-hidden="true"></i></p>
                <p class="det">{{ inp['EMAIL'] }}</p>
                <p class="det-b">LinkedIn Profile <i class="fa fa-linkedin-square" aria-hidden="true"></i></p>
                <p class="det"><a href="https://{{ inp['LINKEDIN'] }}" target="_blank">{{ inp['LINKEDIN'] }}</a></p>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="about-cic">
        <h2>About CIC</h2>
        <p>
            The Cluster Innovation Centre - or CIC as it is popularly known - has been designed to seek and 
            derive innovations from industrial clusters, village clusters, slum cluster and educational clusters. 
            It is an endeavour to harness the passion and dedication of bright young minds with some of the major 
            challenges of india and civil society. We strive to stream relevant ideas and programmes stemming from 
            the above mandate into its learning and research programmes.
        </p>
    </div>
    <div class="footer">
        <div class="footer-holder">
            <h2>Address</h2>
            <p>7 Rugby Stadium</p>
            <p>GC Narang Road</p>
            <p>New Delhi - 110007</p>

            <h3>Website</h3>
            <p><a href="https://cic.du.ac.in/" target="_blank">cic.du.ac.in</a></p>

            <h3>E-mail</h3>
            <p>office@cic.du.ac.in</p>
        </div>
        <div class="footer-holder">
            <h2>Development Team</h2>
            <p><a href="https://www.linkedin.com/in/anant-saxena-6168b8218/" target="_blank">Anant Saxena</a></p>
            <p><a href="https://www.linkedin.com/in/harshvir-sandhu-483339201/" target="_blank">Harshvir Sandhu</a></p>
            <p><a href="https://www.linkedin.com/in/sudoyolo/" target="_blank">Ishan Bansal</a></p>
            <p><a href="https://www.linkedin.com/in/-mehak-sood/" target="_blank">Mehak Sood</a></p>
            <p><a href="https://www.linkedin.com/in/nikunj-saini-837b8421a/" target="_blank">Nikunj Saini</a></p>
            <br>
            <p>For any issues, contact us <a href="mailto:cic.community2023@gmail.com"><b>here</b></a> (or alternatively visit the contributing guide on GitHub for technical queries)</p> 
        </div>
    </div>
</body>
</html>