<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>CIC CommUnity - Alumni Page</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='logo.ico')}}" type="image/x-icon">
</head>
<body>
    <div class="navbar">
        <img src="{{url_for('static', filename='ciclogo.jpeg')}}" alt="CIC Logo">
        <ul class="nav-list">
            <li class="nav-item"><a href="/SignIn">Sign In</a></li>
            <li class="nav-item"><a href="https://cic.du.ac.in/">CIC Home</a></li>
            <li class="nav-item"><a href="/Open_Modif">Modif</a></li>
        </ul>
    </div>
    <div class="heading">
        <h1>Connect With Your Alumni</h1>
    </div>
    <div class="slideshow">
        <div class="slide-track">
            <div class="slide"><img src="{{url_for('static', filename='1s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='2s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='3s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='4s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='5s.png')}}" alt="Sample"></div>

            <div class="slide"><img src="{{url_for('static', filename='1s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='2s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='3s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='4s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='5s.png')}}" alt="Sample"></div>
        </div>
    </div>
    <div class="slideshow">
        <div class="slide-track-2">
            <div class="slide"><img src="{{url_for('static', filename='1s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='2s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='3s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='4s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='5s.png')}}" alt="Sample"></div>

            <div class="slide"><img src="{{url_for('static', filename='1s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='2s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='3s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='4s.jpg')}}" alt="Sample"></div>
            <div class="slide"><img src="{{url_for('static', filename='5s.png')}}" alt="Sample"></div>
        </div>
    </div>
    <div class="heading">
        <h2>Search Your Alumni</h2>
    </div>
    <form action="/SearchAlumni", method="POST">
        <div class="search-tab">
            <div class="form-child">
                <label for="name">Name</label>
                <input type="text" id="name" name="Alname">
            </div>
            <div class="form-child">
                <label for="course">Course </label>
                <select name="course" id="course" required>
                    <option value="none" selected disabled hidden>Select</option>
                    <option value="BTECH">B.Tech IT & MI</option>
                    <option value="BA">BA Honours</option>
                    <option value="MME">Masters in Mathematics</option>
                </select>
            </div>
            <div class="form-child">
                <label for="year">Batch Year </label>
                <select name="year" id="year" required>
                    <option value="none" selected disabled hidden>Select</option>
                    {% for opt in slct_yr %}
                    <option value="{{ opt }}">{{ opt }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="submit" type="submit">SEARCH</button>
        </form>
        </div>
    <div class="show-rec">
        {% if rec|length==0  %}
        <p>Nothing to disp</p>
        {% else %}
    
        {% for inp in rec %}
        <div class="placard">
            <div class="Name-holder">
                <p class="name">{{ inp['NAME'] }}</p>
                <p class="occup">{{ inp['JOB'] }}</p>
            </div>
            <div class="details">
                <p class="det-b">Organisation/Company <i class="fa fa-industry" aria-hidden="true"></i></p>
                <p class="det">{{inp['ORGANISATION']}}</p>
                <p class="det-b">Location <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                <p class="det">{{ inp['LOCATION'] }}</p>
                <p class="det-b">E-mail ID <i class="fa fa-envelope" aria-hidden="true"></i></p>
                <p class="det">{{ inp['EMAIL'] }}</p>
                <p class="det-b">LinkedIn Profile <i class="fa fa-linkedin-square" aria-hidden="true"></i></p>
                <p class="det"><a href="https://{{ inp['LINKEDIN'] }}" target="_blank">{{ inp['LINKEDIN'] }}</a></p>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>
        <div class="about-cic">
            <h2>About CIC</h2>
            <p>
                The Cluster Innovation Centre - or CIC as it is popularly know - has been designed to seek and 
                derive innovations from industrial clusters, village clusters, slum cluster and educational clusters. 
                It is an endeavour to harness the passion and dedication of bright young minds with some of the major 
                challenges of india and civil society. We strive to stream relevant ideas and programmes stemming from 
                the above mandate into its learning and research programmes.
            </p>
        </div>
</body>
</html>