<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>CIC CommUnity - Sign In</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='logo.ico')}}" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><img src="{{url_for('static', filename='ciclogo.jpeg')}}" alt="CIC Logo"></div>
            <ul class="nav-links">
                <li><a href="/SignIn">Sign In</a></li>
                <li><a href="https://cic.du.ac.in/">CIC Home</a></li>
            </ul>
            <div class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </header>
    <div class="login-div">
        <div class="login-det-holder">
            <form action="/LoginAlumni" method="POST">
                <div class="login-child">
                    <input type="text" id="name" name="InpName" placeholder="NAME">
                </div>
                <div class="login-child">
                    <input type="email" id="mail" name="InpEmail" placeholder="EMAIL ID">
                </div>   
                <div class="login-child">
                    <select name="year" id="year" required>
                        <option value="none" selected disabled hidden>BATCH</option>
                        {% for opt in slct_yr %}
                        <option value="{{ opt }}">{{ opt }}</option>
                        {% endfor %}
                    </select>
                </div> 
                <button type="submit" class = "Otp_auth">SEND OTP</button>
            </form>
        </div>
    </div>
</body>
</html>