<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>CIC CommUnity - Sign In</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='logo.ico')}}" type="image/x-icon">
</head>
<body>
    <div class="navbar">
        <img src="{{url_for('static', filename='ciclogo.jpeg')}}" alt="CIC Logo">
        <ul class="nav-list">
            <li class="nav-item"><a href="/SignIn">Sign In</a></li>
            <li class="nav-item"><a href="/">Home</a></li>
        </ul>
    </div>
    <div class="modif-data">
        <form action="/UpdateData" method="POST">
            <div class="modif-form-child">
                <p class="label-form">Name</p>
                <input type="text" id="m_name" name="m_name" value="{{ prev_data.NAME }}" disabled>
                <input type="hidden" id="hidden_name" name="hidden_name" value="">
            </div>
            <div class="modif-form-child">
                <p class="label-form">Registered E-mail</p>
                <input type="text" name="course" value="{{ prev_data.EMAIL }}" disabled>
            </div>
            <div class="modif-form-child">
                <p class="label-form">Batch</p>
                <input type="text" name="myear" id="year" value="{{ b_year }}" disabled>
                <input type="hidden" name="hidden_year" id="hidden_year" value="">
            </div>
            <div class="modif-form-child">
                <p class="label-form">Occupation</p>
                <input type="text" name="job_title" value="{{ prev_data.JOB }}">
            </div>
            <div class="modif-form-child">
                <p class="label-form">Workplace Location</p>
                <input type="text" name="location" value="{{ prev_data.LOCATION }}">
            </div>
            <div class="modif-form-child">
                <p class="label-form">LinkedIn Profile</p>
                <input type="text" name="linkedin" value="{{ prev_data.LINKEDIN }}">
            </div>
            <div class="modif-form-child">
                <p class="label-form">Portfolio Website</p>
                <input type="text" name="website" value="{{ prev_data.WEBSITE }}">
            </div>
            <div class="modif-form-child">
                <p class="label-form">New E-mail (If want to update)</p>
                <input type="email" name="m_email" value="{{ prev_data.EMAIL }}">
            </div>
            <button class="update" type="submit">UPDATE</button>
        </form>
    </div>
</body>
<script>
 document.querySelector('form').addEventListener('submit', function(){
    var DisabledName = document.querySelector('input[name = "m_name"]').value;
    document.querySelector('input[name = "hidden_name"]').value = DisabledName;

    var DisabledYear = document.querySelector('input[name = "myear"]').value;
    document.querySelector('input[name = "hidden_year"]').value = DisabledYear;
});
</script>
</html>